# Example Environment Variables

# MongoDB connection string
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/mydatabase

# Express server port
PORT=3000

# API base URL
API_BASE_URL=http://localhost:3000/api
